# Logs de Ejecución
*.log
organizer.log
rollback.log

# Database
*.db
transfer_history.db

# Temporales de SQLite
*.db-journal
*.db-wal
*.db-shm

# Entornos Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/
.env

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
